**Logistic Regression**

In [16]:
#importing basic libraries  
import pandas as pd
import datetime as dt
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
#reading data
startup_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/startupdata/training_set_label.csv" )

In [3]:
print(startup_data.head())
print(startup_data.info())

#from google.colab import files
#startup_data.to_csv('startup_data.csv') 
#files.download('startup_data.csv')

   Unnamed: 0 state_code   latitude  ...  avg_participants is_top500    status
0        1005         CA  42.358880  ...            1.0000         0  acquired
1         204         CA  37.238916  ...            4.7500         1  acquired
2        1001         CA  32.901049  ...            4.0000         1  acquired
3         738         CA  37.320309  ...            3.3333         1  acquired
4        1002         CA  37.779281  ...            1.0000         1    closed

[5 rows x 48 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                923 non-null    int64
 1   state_code                923 non-null    object
 2   latitude                  923 non-null    float64
 3   longitude                 923 non-null    float64
 4   zip_code                  923 non-null    object
 5   id                        923 non-null    object
 6   city                      923 non-null    object
 7   Unnamed: 6                430 non-null    object
 8   name                      923 non-null    object
 9   founded_at                923 non-null    object
 10  closed_at                 335 non-null    object
 11  first_funding_at          923 non-null    object
 12  last_funding_at           923 non-null    object
 13  age_first_funding_year    923 non-null    float64
 14  age_last_funding_year     923 non-null    float64
 15  age_first_milestone_year  771 non-null    float64
 16  age_last_milestone_year   771 non-null    float64
 17  relationships             923 non-null    int64
 18  funding_rounds            923 non-null    int64
 19  funding_total_usd         923 non-null    int64
 20  milestones                923 non-null    int64
 21  state_code.1              922 non-null    object
 22  is_CA                     923 non-null    int64
 23  is_NY                     923 non-null    int64
 24  is_MA                     923 non-null    int64
 25  is_TX                     923 non-null    int64
 26  is_otherstate             923 non-null    int64
 27  category_code             923 non-null    object
 28  is_software               923 non-null    int64
 29  is_web                    923 non-null    int64
 30  is_mobile                 923 non-null    int64
 31  is_enterprise             923 non-null    int64
 32  is_advertising            923 non-null    int64
 33  is_gamesvideo             923 non-null    int64
 34  is_ecommerce              923 non-null    int64
 35  is_biotech                923 non-null    int64
 36  is_consulting             923 non-null    int64
 37  is_othercategory          923 non-null    int64
 38  object_id                 923 non-null    object
 39  has_VC                    923 non-null    int64
 40  has_angel                 923 non-null    int64
 41  has_roundA                923 non-null    int64
 42  has_roundB                923 non-null    int64
 43  has_roundC                923 non-null    int64
 44  has_roundD                923 non-null    int64
 45  avg_participants          923 non-null    float64
 46  is_top500                 923 non-null    int64
 47  status                    923 non-null    object
dtypes: float64(7), int64(27), object(14)
memory usage: 346.2+ KB
None

In [4]:
#data cleaning
#droping unnecessary columns like unnamed: 0(ID), unnamed:6(Address) and others
col = [0,1,2,3,4,5,6,7,8,21,27,38]
data = startup_data.drop(startup_data.columns[col], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   founded_at                923 non-null    object
 1   closed_at                 335 non-null    object
 2   first_funding_at          923 non-null    object
 3   last_funding_at           923 non-null    object
 4   age_first_funding_year    923 non-null    float64
 5   age_last_funding_year     923 non-null    float64
 6   age_first_milestone_year  771 non-null    float64
 7   age_last_milestone_year   771 non-null    float64
 8   relationships             923 non-null    int64
 9   funding_rounds            923 non-null    int64
 10  funding_total_usd         923 non-null    int64
 11  milestones                923 non-null    int64
 12  is_CA                     923 non-null    int64
 13  is_NY                     923 non-null    int64
 14  is_MA                     923 non-null    int64
 15  is_TX                     923 non-null    int64
 16  is_otherstate             923 non-null    int64
 17  is_software               923 non-null    int64
 18  is_web                    923 non-null    int64
 19  is_mobile                 923 non-null    int64
 20  is_enterprise             923 non-null    int64
 21  is_advertising            923 non-null    int64
 22  is_gamesvideo             923 non-null    int64
 23  is_ecommerce              923 non-null    int64
 24  is_biotech                923 non-null    int64
 25  is_consulting             923 non-null    int64
 26  is_othercategory          923 non-null    int64
 27  has_VC                    923 non-null    int64
 28  has_angel                 923 non-null    int64
 29  has_roundA                923 non-null    int64
 30  has_roundB                923 non-null    int64
 31  has_roundC                923 non-null    int64
 32  has_roundD                923 non-null    int64
 33  avg_participants          923 non-null    float64
 34  is_top500                 923 non-null    int64
 35  status                    923 non-null    object
dtypes: float64(5), int64(26), object(5)
memory usage: 259.7+ KB

In [5]:
#changing date columns
data['founded_at'] = pd.to_datetime(data['founded_at'])
data['closed_at'] = pd.to_datetime(data['closed_at'])
data['founded_at'] = data['founded_at'].map(dt.datetime.toordinal)
data['closed_at'] = data['closed_at'].map(dt.datetime.toordinal)
data['first_funding_at'] = pd.to_datetime(data['first_funding_at'])
data['last_funding_at'] = pd.to_datetime(data['last_funding_at'])
data['first_funding_at'] = data['first_funding_at'].map(dt.datetime.toordinal)
data['last_funding_at'] = data['last_funding_at'].map(dt.datetime.toordinal)

In [6]:
#replacing na values with o
data = data.fillna(0)

In [7]:
#defining dependent and independent variables
x = data.drop(['status'], axis = 1)
y = data['status'].astype('category')
y = y.cat.codes

In [8]:
#train-test split
from sklearn.model_selection import train_test_split
x_train, x_validation, y_train, y_validation = train_test_split(x, y, test_size=0.20, random_state=101)

In [9]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression().fit(x_train, y_train)

In [10]:
print("training accuracy", lr.score(x_train, y_train))
print("test accuracy", lr.score(x_validation, y_validation))
pre_tra = lr.predict(x_train)
pre_tes = lr.predict(x_validation)
print("Training F1 score:", f1_score(y_train, pre_tra))
print("Test F1 score:", f1_score(y_validation, pre_tes))

training accuracy 0.989159891598916
test accuracy 0.9945945945945946
Training F1 score: 0.9847328244274809
Test F1 score: 0.9927007299270074

In [19]:
print("Classification report for Training dataset:\n",classification_report(y_train, pre_tra))
print("\n confusion matrix for training dataset: \n", confusion_matrix(y_train,pre_tra))

Classification report for Training dataset:
               precision    recall  f1-score   support

           0       1.00      0.98      0.99       480
           1       0.97      1.00      0.98       258

    accuracy                           0.99       738
   macro avg       0.98      0.99      0.99       738
weighted avg       0.99      0.99      0.99       738


 confusion matrix for training dataset:
 [[472   8]
 [  0 258]]

In [21]:
print("Classification report for validation dataset:\n",classification_report(y_validation, pre_tes))
print("\n confusion matrix for validation dataset: \n", confusion_matrix(y_validation,pre_tes))

Classification report for validation dataset:
               precision    recall  f1-score   support

           0       1.00      0.99      1.00       117
           1       0.99      1.00      0.99        68

    accuracy                           0.99       185
   macro avg       0.99      1.00      0.99       185
weighted avg       0.99      0.99      0.99       185


 confusion matrix for validation dataset:
 [[116   1]
 [  0  68]]